<ion-header>
  <ion-navbar dark-blue>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Strings.my_bills" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header class="contasTopCard">
    <ion-row>
      {{ "Strings.bills-total" | translate }}
    </ion-row>  
  </ion-card-header>
  <ion-card-content>
    <ion-row>
    <ion-col width-75 class="contasTopCard">
      <h1>{{"Strings.app_currency" | translate}} <span>{{ getBillsTotal() }}</span></h1>  
    </ion-col>      
    <ion-col>
     <!--<p>AQUI</p> -->
    </ion-col> 
    </ion-row> 
  </ion-card-content>
</ion-card>

<!--<label for="is-paid">Pago?</label>
          <input class="paidCkb" type="checkbox" #paid (change)="setPaid(paid.checked, bill)" name="is-paid"/>         -->
          <!--<ion-item><ion-toggle #paid (ionChange)="setPaid(paid.checked, bill)" checked="{{bill.bill_isPaid}}"></ion-toggle></ion-item>-->
<ion-list *ngFor="let bill of ListaDeContas">
  <ion-item class="paidToggle">
     <ion-label>{{ bill.bill_title }}</ion-label>
    <ion-toggle #paid (ionChange)="setPaid(paid.checked, bill)" checked="{{bill.bill_isPaid}}"></ion-toggle><ion-label  class="billpaid">Pago?</ion-label>
  </ion-item>
  <ion-item-sliding class="billitem">    
    <ion-item #item class="billvalue">
      <h1>{{"Strings.app_currency" | translate}} <span (click)="editBalance()">{{ bill.bill_amount }}</span></h1>
    </ion-item>  
    <ion-item-options side="right">
      <button ion-button (click)="removeBill(bill)"><ion-icon name="trash"></ion-icon></button>
    </ion-item-options>
  </ion-item-sliding>  
</ion-list>

</ion-content>
<button fab fab-bottom fab-right orange style="z-index:200" (click)="addBill()">
    <ion-icon name="add"></ion-icon>
</button>