.action-sheets-basic-page {
  .ion-md-arrow-dropdown-circle {
    color: #ED4248;
  }
  .ion-md-arrow-dropup-circle {
    color: #508AE4;
  }
  .ion-md-archive {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}

progress {
  //width: 250px;
  height: 2.57vh;
  width: 100%;
}

.card-ballance-header{
  //background-color: green;
  margin-top: -2vh;  
  height: 4.5vh;
}



.card-week-header{
  //background-color: green;
  margin-top: -2vh;
  margin-bottom: -1.5vh;
  height: 4.5vh;
}

.balance-instruction{
  color: lightslategrey;
  font-size: 0.7em;
   
}

.card-week{
  //background-color: orangered;
  width: 105%;
  margin-left: -2vw;
}

.gastar{
 font-size: 0.8em; 
 height: 8vh;
 width: 11.5vw;
}

ion-card-content.balanceContent{  
  padding-bottom: 0.1vh;
  padding-top: 0.15vh;
}