
<ion-header>
  <ion-navbar dark-blue>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Strings.weekly_budget" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home" really-light-blue>
<ion-card>
  <ion-card-header>
    <ion-row class="card-ballance-header">
      <ion-col width-75>
        {{"Strings.curr_balance" | translate}}<br>
        <p class="balance-instruction">{{"Strings.msg_updt_balance" | translate}}</p>
      </ion-col>      
      <ion-col>{{"Strings.Months." + currMonth | translate}}</ion-col>    
    </ion-row>      
  </ion-card-header>
  <ion-card-content class="balanceContent">      
      <ion-row>
        <ion-col width-80 (click)="editBalance()">
           <h1>{{"Strings.app_currency" | translate}} <span>{{budget.balance}}</span></h1>
        </ion-col>
        <ion-col>
          <button ion-button white style="height:3.4vh; marging-top:-2vh; width:6vw;" (click)="recalculate()"><ion-icon name="refresh"></ion-icon></button>
        </ion-col>
      </ion-row>        
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <ion-card  *ngFor="let weekbudget of budget.weeklyBudget" class="card-week" (press)="showOptionsManageMoney($event, weekbudget)" (tap)="getAmountPerDay($event, weekbudget.initWeekAmount, weekbudget.dias)">
      <ion-card-header>
        <ion-row class="card-week-header">
          <ion-col width-70 *ngIf="weekbudget.dias[0] == weekbudget.dias[weekbudget.dias.length - 1]">
            {{weekbudget.dias[0]}}/{{weekbudget.month}}
          </ion-col>  
          <ion-col width-70 *ngIf="weekbudget.dias[0] != weekbudget.dias[weekbudget.dias.length - 1]">
            {{weekbudget.dias[0]}} - {{weekbudget.dias[weekbudget.dias.length - 1]}}/{{weekbudget.month}}
          </ion-col>      
          <ion-col>{{"Strings.app_currency" | translate}} {{(weekbudget.amount).toFixed(2)}} | {{(weekbudget.initWeekAmount).toFixed(2)}}</ion-col>    
        </ion-row>  
      </ion-card-header>
      <ion-card-content style="padding-botton:-2vh">
        <ion-row>          
          <progress max="{{weekbudget.initWeekAmount}}" value="{{weekbudget.amount}}"></progress>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-card>
</ion-content>
<ion-fab right bottom orange style="z-index:200">
  <button ion-fab fab fab-bottom orange fab-right style="z-index:200" (click)="spend()">{{"Strings.spend" | translate}}</button>
</ion-fab>
